In [ ]:
1번 : 아래의 dataset리스트에서 전체 이름 안에 M 은 몇 번 나왔는지 빈도수 출력하기

In [65]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [77]:
n = int(input("개수 : "))
iarr = input("{}개의 숫자를 입력하시오 : ")

tot = 0

for _ in range(0, n):
    tot += int(iarr[_])
#     print(int(iarr[_]))

tot

개수 : 5
{}개의 숫자를 입력하시오 : 54321

15

In [76]:
count = 0
numA = 0
for a in dataset:
#     print("")
#     print(a, end='\t')
    numB = 0
    while numB < len(a):
        if numB < len(a):
#             print(dataset[numA][numB], end='\t')
#             print(numA, numB, end='\t')
            if dataset[numA][numB] == 'M':
                count += 1
#                 print(count, end='\n')
            numB += 1
    numA += 1
count

38