### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : cmd(ctrl) + /
        - 셀 생성 : a(위에), b(아래)

- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자사용 불가
        - 예약어 사용이 불가 : def, class, try ...
        - snake_case(변수, 함수), CamelCase(클래스)
        - pep8 문서
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입 : int, float, bool, str
        - 컬렉션 데이터 타입 : list(iterable), tuple(iterable), dict
            - iterable : 순서가 있는 데이터 집합
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start:end] : start에서 end까지 출력 (end는 포함되지 않습니다.)
            - [start:end:stride] : stride만큼 씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있습니다.
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip : 여러 개의 "리스트"를 같은 인덱스끼리 묶어주는 함수
        - 두개의 리스트를 묶어서 dict 형변환
    - 연산자
        - 산술 : +, - , *, /, //, %, **
        - 할당 : A (산술)= (data)
        - 비교 : <, >, ==, !=, >=, <=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [5]:
# 조건부분 : bool 데이터 타입 이외에 데이터 타입이 오면 bool으로 형변환 되어 판단

if False:
    print("python")
    
print("done")

done

In [6]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [7]:
num = 0

if num:
    print("python_1")

num = 1

if num:
    print("python_2")

python_2

In [9]:
number = 7

if number % 2:
    print("홀수")

홀수

In [10]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [11]:
# 지갑에 돈이 10000원 이상 있으면 택시를 탑니다.
# 2000원 이상이 있으면 버스를 탑니다
# 그렇지 않으면 걸어서 집에 갑니다.

In [13]:
money = 9000

if money >= 10000:
    print("택시")
    
if money < 10000:
    print("걸어서")

걸어서

In [14]:
money = 12000

if money >= 10000:
    print("택시")
else:
    print("걸어서")

택시

In [18]:
money = int(input("돈 : "))

if money >= 10000:
    print("택시")
elif money >= 2000:
    print("버스")
else:
    print("걸어서")

돈 : 7000
버스

In [19]:
# 계좌에 10000원이 들어 있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 "인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력

In [25]:
wd = int(input("withdraw money : "))

bal = 10000

if wd > bal:
    print("인출이 불가능합니다.")
else:
    bal -= wd
    print("인출 되었습니다.")

#print("잔액 : {}".format(bal))
print("잔액 : {data1}".format(data1 = bal))

withdraw money : 4
인출 되었습니다.
잔액 : 9996

#### 삼항연산자 TICEF 트이콘에폴
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if (condtion) else (False)

In [26]:
# data 변수에 0이면 "zero" 출력, 아니면 "not zero" 출력
data = 0
if data:
    print("not zero")
else:
    print("zero")

zero

In [27]:
data = 1
"not zero" if data else "zero"

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

In [28]:
# while
data = 3
while data: # 조건이 False가 될 때까지 구문의 코드를 실행
    
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

In [29]:
# 학생이 국어 : 80점, 영어 : 90점, 수학 : 100점 while 문을 이용해서 총점과 평균을 출력
# 학생의 점수는 list, dict 표현
# len, dict.values(), list.pop()

In [42]:
studentA = {
    "korean" : 80,
    "english" : 90,
    "math" : 100,
}

score = list(studentA.values()) # 형변환 시에는 항상 괄호

alen = len(score)
result = 0

while alen:
    result += a[alen-1]
    alen -= 1
    
print("학생의 점수는 {}점이고 평균은 {}점입니다.".format(result, result/len(score)))

학생의 점수는 270점이고 평균은 90.0점입니다.

In [39]:
subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
points_dict = {"korean" : 80, "english" : 90, "math" : 100}

In [44]:
total, avg = 0, 0

In [45]:
datas = points_ls.copy() # 깊은 복사 : 원본데이터를 보존

# while len(datas): 빈 리스트는 False
while datas:
    total += datas.pop()
    
print("학생의 점수는 {}점이고 평균은 {}입니다.".format(total, total/len(points_ls)))

학생의 점수는 270점이고 평균은 90.0입니다.

In [47]:
# 무한루프
# break : 반복문을 중단 시킬 때 사용되는 예약어
result = 1

while result:
    
    if result >= 10:
        break

    result += 1
        
print(result)

10

### for
- iterable(순서가 있는 데이터 집합)한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 갯수만큼 실행

```
for <variable> in <iterables>:
    <code>
```

In [49]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4]
for data in ls:
    
    # data가 홀수가 되면 continue 실행
    if data % 2:
        continue
    
    #data가 짝수이면 print를 실행
    print(data, end=" ")

0 2 4

In [52]:
# for를 이용하여 100번 실행
# range 함수 - 리스트는 아님
list(range(100))
result = 0
for data in range(100):
    result += data
result

4950

In [54]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(10, 0, -2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 8, 6, 4, 2])

In [56]:
# 0 ~ 10까지 짝수를 더한 총합
result = 0
for number in range(0, 11, 2):
    result += number

result

30

In [57]:
points_dict = {"korean" : 80, "english" : 90, "math" : 100}

In [58]:
list(points_dict.keys())

['korean', 'english', 'math']

In [60]:
for data in points_dict:
    print(data)

korean
english
math

In [59]:
list(points_dict.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [64]:
for subject, point in points_dict.items():
    print(subject, point)

korean 80
english 90
math 100

In [66]:
# tuple
a, b = (1, 2)
a, b

(1, 2)

In [2]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있습니다.

subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]

for subject, point in zip(subjects_ls, points_ls):
    print(subject,point)

korean 80
english 90
math 100

In [7]:
list(zip(subjects_ls,points_ls))

[('korean', 80), ('english', 90), ('math', 100)]

- 구구단 출력 (가로 출력)
    - 이중 for문 안에 for문
    - print : end="\t"
    - string : format 함수 이용
'''

2*1=2 3*1=3 ... 9*1=9

...

2*9=18 3*9=27 ... 9*9=81



'''

In [19]:
for numA in range(2, 10):
    for numB in range(1, 10):
        print("{}*{}={}".format(numA, numB, numA*numB), end='\t')
#         numB += 1
    print('\n')
#     numA += 1

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18

3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27

4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36

5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45

6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54

7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63

8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72

9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작합니다.

In [26]:
# 각각 값에 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []
for data in ls:
#     result.append(ls[data]**2)
    result.append(data**2)
result

[0, 1, 4, 9]

In [27]:
result = [data**2 for data in ls] # ls에 있는 data를 data**2로 리턴
result

[0, 1, 4, 9]

In [28]:
# 리스트 컴프리핸션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
ls = [0, 1, 2, 3]
# result = ["짝수", "홀수", "짝수", "홀수"]

result = [
    "홀수" if data % 2 else "짝수"
    for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [34]:
# 리스트 컴프리핸션 조건문
ls = range(10)
# [data for data in ls] # 여기에 조건문 추가가 가능함
[data for data in ls if data % 2]

[1, 3, 5, 7, 9]

In [39]:
ls = [1, 2, 3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

In [40]:
# for문과 list comprehension 성능 비교

In [49]:
%%timeit
ls = []
for num in range(1, 10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.2 ms ± 203 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [50]:
%%timeit
ls = [num for num in range(1, 10001) if num % 3 == 0]
len(ls)

856 µs ± 67.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
ls = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
ls = [num for num in ls if num%6 == 0]

In [5]:
ls

[6, 12, 18]

In [17]:
ls = [num in range(1,21)]

NameError: name 'num' is not defined

In [16]:
ls

[6, 12, 18]