### 연산자 : Operators
- 산술연산자 (+ - * /)
- 비교연산자 (<,>,=)
- 할당연산자
- 논리연산자
- 멤버연산자

#### 1. 산술연산자
- +, -, *, /, //(몫), %(나머지), **(제곱)

In [1]:
print(2 + 4)

6

In [2]:
a, b = 2, 4
print(a + b)

6

In [3]:
print(2-4)
print(2*4)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

-2
8
3.3333333333333335
3

### 부동소수점 문제
- 10진수를 2진수로 변환해서 계산할 때 발생되는 문제

In [4]:
0.1 + 0.2

0.30000000000000004

In [19]:
a, b = 0.1, 0.2
(0.1 + 0.2) == 0.3

False

In [14]:
# 정수로 변환해준 후에 실수로 바꿔줌
a = a * 10
b = b * 10
(a + b) / 10

0.3

#### 연산자 우선순위 : ** -> *, /, //, % -> +, -

In [20]:
# 고정소수점으로 표현
from decimal import Decimal
float(Decimal(str(a)) + Decimal(str(b)))

0.3

### Quiz 1
- 아래 데이터의 총점과 평균을 구하세요.
'''
data = {"korean": 96.3, "english": 78.4, "science": 87.2, "math": 92.1}
'''
-sum, len 함수를 이용
- 정수로 변경, 반올림, 고정소수점

In [41]:
data = {"korean": 96.3, "english": 78.4, "science": 87.2, "math": 92.4}

In [42]:
data.values()

dict_values([96.3, 78.4, 87.2, 92.4])

In [44]:
print(data["korean"] + data["english"] + data["science"] + data["math"])
print(sum(data.values()) / len(data))
print((data["korean"] + data["english"] + data["science"] + data["math"]) / len(data))

354.29999999999995
88.57499999999999
88.57499999999999

In [52]:
sumD = (data["korean"] * 10 + data["english"] * 10 + data["science"] * 10 + data["math"] * 10) / 10
print("데이터의 총점 =", sumD)
print("데이터의 평균 =", sumD/(len(data)))

데이터의 총점 = 354.3
데이터의 평균 = 88.575

In [56]:
# Decimal(str(data["korean"]))을 하지 않았는데 답이 나옴. str 없어도 되는 것인지???????? 

from decimal import Decimal
sumF = float(Decimal(data["korean"]) + Decimal(data["english"]) + Decimal(data["science"]) + Decimal(data["math"]))
print("데이터의 총점 =", sumF)
print("데이터의 평균 =", sumF/len(data))

데이터의 총점 = 354.3
데이터의 평균 = 88.575

### 2. 비교연산자
- ==, !=, >, <, >=, <=

In [57]:
a, b = 10, 20

In [58]:
print(a == b)

False

In [61]:
print(a != b)
print(a > b)
print(a <= b)

True
False
True

#### Quiz 2
- 산술연산과 비교연산을 사용하여 data가 홀수일 때는 True, 짝수일 때는 False를 출력하는 코드를 작성하세요

In [63]:
data = 3
data % 2

1

In [68]:
print(data % 2 == 1)

True

### 3. 할당연산자
- 대입연산자와 산술연산자를 사용하여 만들어진 연산자
- +=, -=, =, /=, *=, %=, //=

In [69]:
data = 5
print(data)

5

In [70]:
data = data + 10
print(data)

15

In [74]:
# =+와 =+의 차이 --> data += 10 > data = data + 10 /// data =+ 10 > data = (+10)
data = 5
data += 10
print(data)

15

### Quiz 3
- 할당연산자를 이용해서 리스트 안에 있는 숫자의 평균을 구하시오
'''
ls = [87, 76, 98, 69]
'''
- 결과
'''
result => 82.5
'''

In [75]:
ls = [87, 76, 98, 69]
result = 0
result += ls[0]
result += ls[1]
result += ls[2]
result += ls[3]
result /= len(ls)
len(ls)
print(result)

82.5

#### 4. 논리연산자
- 논리의 참과 거짓을 나타내는 연산자
- and : 두 개의 논리가 모두 True인 경우 True
- or : 두개의 논리가 모두 False인 경우 False
- not : True는 False로, False는 True로 변환

In [76]:
print(True and True)
print(True and False)

True
False

In [77]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [78]:
print(not(True))
print(not(True or True))

False
False

In [81]:
a, b = 1, 2
(a < b) and(a == b)

False

#### Quiz 4
- 산술연산자, 비교연산자, 논리연산자를 사용해서 변수 a가 3 또는 5의 배수일 때 True를 출력하는 코드를 작성하시오.
a = 9 # T
a = 7 # F
a = 10 # T
a = 15 # T

In [85]:
a = 9
(a % 3 == 0) or (a % 5 == 0)

True

#### Quiz 5
- 변수 a, b가 있는데 둘 다 10 이하인 경우 True 출력하는 연산자를 만드시오.

a, b = 9, 8 # T

a, b = 7, 15 # F

a, b = 11, 12 # F

- 비교연산자, 논리연산자

In [87]:
a, b = 9, 8
(10 >= a) and (10 >= b)

True

### 5. 멤버 연산자
- <특정 데이터> in <데이터 집합> : 데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 True

- not in : 데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 False, 없으면 True

In [91]:
data = [1, 2, 3, 4]
2 not in data, 5 not in data

(False, True)

In [92]:
# 그냥 변수명으로 사용하면 키값에서 데이터가 있는지 확인
data = {1:"one", 2:"two", 3:"three"}
3 in data, "2" in data, "one" in data

(True, False, False)

In [93]:
"one" in data.values()

True