### 반복문 : Loop
- while
- break
- continue
- for

#### 1. while
- condtion이 False가 될때까지 code를 반복적으로 실행

'''
while <condition>:
    <code>
'''
- while 무한루프에 빠질 위험이 있으므로 주의해서 사용을 해야합니다.

In [3]:
a = 3
while a:
    print(a)
    a -= 1
a

3
2
1

0

In [6]:
# 무한루프 : Kernel -> Interrupt
while True:
    a = 1

KeyboardInterrupt:

In [ ]:
#### Quiz 1
- ls 리스트 값을 while 문을 이용해서 모두 다 더하는 코드를 작성하세요

ls = [1,2,3,4,5,6,7,8,9,10]

In [16]:
ls = [1,2,3,4,5,6,7,8,9,10]
a = 0
result = 0
while a < len(ls):
    result += ls[a]
    a += 1
result

55

#### 2. break
- 반복문이 실행되던 중간에 break 만나게 되면 반복문이 종료됩니다.

In [18]:
a = 3
while a:
    print(a)
    if a == 2:
        break
    a -= 1

3
2

#### 3. continue
- 반복문이 실행되던 중간에 continue를 만나게 되면 반복문이 조건을 비교하는 부분으로 올라가서 코드가 실행

In [21]:
a = [1,2,3,4,"q"]
idx = 0

while True:
    data = a[idx]
    idx += 1
    
    if data == "q":
        break
    elif data % 2 == 0:
        continue # 도돌이표 같은 역활
        
    print(data)

1
3

#### Quiz 2
- q를 입력할 때까지 계속 값을 입력 받아서 q를 입력할 때 입력받은 값을 출력하는 코드를 작성하세요.
- 데이터를 입력받을 때 몇번쨰 입력인지도 출력


'''
1번쨰 입력 (종료 : q) : data

2번쨰 입력 (종료 : q) : python

3번쨰 입력 (종료 : q) : science

4번쨰 입력 (종료 : q) : q

["data", "python", "science"]

'''

In [2]:
count, result = 0, []

while True:
    count += 1
    data = input("{}번째 입력 (종료 : q) :".format(count))
    
    if data == "q":
        break
        
    result.append(data)
    
print(result)

1번째 입력 (종료 : q) :data
2번째 입력 (종료 : q) :python
3번째 입력 (종료 : q) :science
4번째 입력 (종료 : q) :q
['data', 'python', 'science']

In [5]:
ls = []
idx = 0

while True:
    ipt = input("Insert = ")
    
    if ipt == "q":
        break
    
    ls.append(ipt)
    idx += 1

print(ls)

Insert = data
Insert = python
Insert = science
Insert = q
['data', 'python', 'science']

#### 4. for
- 순서가 있는 데이터의 집합(iterable : 리스트, 튜플)에서 값을 꺼내서 변수에 대입시킨 후 for 구문 안에 있는 코드를 실행 시키는 반복문


'''
for <변수> in <순서가 있는 데이터 집합>:
    <code>
'''

- range
- enumerate
- zip

In [8]:
ls = [0,1,2,3,4]
for value in ls:
    print(value, end=" ") # 5번실행

0 1 2 3 4

In [9]:
# dictionary를 사용한 for 반복문
dic = {"A": 1, "B": 2}
for key in dic:
    print(key)

A
B

In [10]:
dic.items()

dict_items([('A', 1), ('B', 2)])

In [12]:
for key, value in dic.items():
    print(key, value)

A 1
B 2

#### Quiz 3
- for 문을 이용하여 아래 리스트에 있는 숫자를 모두 더하는 코드를 작성하세요.
- for 문과 할당연산자

'''
numbers = [1, 3, 5, 8, 10, 14]

result => 41
'''

In [15]:
numbers = [1, 3, 5, 8, 10, 14]
result = 0
for value in numbers:
    result += value

print(result)

41

#### 4.1 range
- list를 간편하게 생성해주는 함수입니다.
- 함수 : 코드의 집합을 실행시켜주는 방법
    
'''
range(end)

range(start, end)

range(start, end, stride) # stride => 점프
'''

In [17]:
ls = [1,2,3]
ls

[1, 2, 3]

In [18]:
for _ in ls:
    print("data science")

data science
data science
data science

In [20]:
list(range(3))

[0, 1, 2]

In [21]:
for _ in range(3):
    print("data science")

data science
data science
data science

In [22]:
list(range(1, 5))

[1, 2, 3, 4]

In [23]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [24]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Quiz 4
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 작성하세요

'''
*
**
***
****
*****
'''

In [25]:
idx = 0
for _ in range(5):
    idx += 1
    print("*" * idx)

*
**
***
****
*****

In [26]:
number = 5
for num in range(1, number + 1):
    print("*" * num)

*
**
***
****
*****

#### Quiz 4
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 작성하세요

'''
     *
    **
   ***
  ****
 *****
'''

In [28]:
number = 5
for num in range(1, number + 1):
    print(" " * (number - num) + "*" * num)

    *
   **
  ***
 ****
*****

#### Quiz 6
- 홀수만 입력이 가능
- 5를 입력하면 아래와 같이 별이 출력되도록 코드를 작성

  *
 ***
*****

In [31]:
number = 5
space = 3
for num in range(1, number + 1, 2):
    space -= 1
    print(" " * space + "*" *num)

  *
 ***
*****

In [33]:
number = 5
space = number // 2
for num in range(1, number + 1, 2):
    print(" " * space + "*" *num)
    space -= 1

  *
 ***
*****

### Quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드를 작성하세요.

'''
input number : 4

4단

4*1 = 4

4*2 = 8

4*3 = 12

...

4*9 = 36

'''

In [44]:
ipt = int(input("단을 입력하시오 : "))
print("{}단".format(ipt))

for num in range(1, 10):
    print("{}*{} = {}".format(ipt, num, ipt*num))

단을 입력하시오 : 6
6단
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54

### Quiz 8
- 아래의 2개의 리스트 데이터를

subject = ["korean", "english", "math", "science"]

points = [100, 80, 90, 60]

- for문을 이용하여 딕셔너리 데이터로 변경하는 코드를 작성하세요.

result => {"korean": 100, "english": 80, "math": 90, "science": 60}

In [50]:
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
result = {}

for num in range(len(subject)):
    result.update({subject[num]:points[num]})
#    print(result)
    
print(result)

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [51]:
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
result = {}

for num in range(len(subject)):
    result[subject[num]] = points[num]

print(result)

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

### 4.2 enumerate
- 리스트 데이터의 index와 value값을 동시에 사용할 수 있게 해주는 함수입니다.

In [52]:
# 과목명과 과목번호를 같이 출력
subjects = ["korean", "english", "math", "science"]
number = 1
for subject in subjects:
    print(number, subject)
    number += 1

1 korean
2 english
3 math
4 science

In [53]:
list(enumerate(subjects))

[(0, 'korean'), (1, 'english'), (2, 'math'), (3, 'science')]

In [54]:
for idx, subject in enumerate(subjects):
    print(idx+1, subject)

1 korean
2 english
3 math
4 science

### 4.3 zip
- n개의 리스트를 같은 index끼리 묶어주는 함수

In [56]:
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

list(zip(subjects, points))

[('korean', 100), ('english', 80), ('math', 90), ('science', 60)]

In [58]:
result = {}

for subject, point in zip(subjects, points):
    result[subject] = point
result

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [59]:
dict(zip(subjects, points))

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

### * 랜덤함수

In [3]:
import random

In [65]:
# 1 ~ 10 랜덤하게 정수 데이터를 뽑고 싶으면
random.randint(1,10)

7

In [73]:
# 설정한 데이터에서 하나의 데이터를 랜덤하게 뽑기
random.choice([1, 5, 9])

1

#### Quiz 9
- 로또번호를 출력하는 코드를 작성하세요.
- 1 ~ 45까지의 숫자 중에 6개 숫자를 뽑으시면 됩니다.
- 중복이 되지 않도록 6개의 숫자를 뽑으시면 됩니다.
- while, break, if, in, list, append 사용

'''
result => [3, 8, 15, 19, 25, 31]
'''

In [13]:
result = []

while True:
    
    value = random.randint(1,45)
    
    if num not in result:
        result.append(value)
    
    if len(result) == 6:
        break
    
result.sort()
result

[17, 18, 20, 22, 24, 40]

In [1]:
# 연습
ls = [1,2,3,4,5]
num = int(input("insert : "))
if num in ls:
    print(True)
else:
    print(False)

insert : 5
True