# 수학 기초

## Day 4 확률

In [1]:
X = set([2,4,6,8])

In [2]:
print(X)

{8, 2, 4, 6}

In [3]:
Y = set([3,3,6,6,9,9])

In [4]:
print(Y)

{9, 3, 6}

In [5]:
Z = []

In [6]:
Z

[]

In [7]:
X & Y

{6}

In [8]:
X|Y

{2, 3, 4, 6, 8, 9}

In [9]:
X-Y

{2, 4, 8}

In [10]:
Y-X

{3, 9}

In [15]:
def probability(sample_space, sample_event):
    prob = (sample_event / sample_space) * 100
    return str(round(prob, 1)) + "%"

In [16]:
probability(36, 5)

'13.9%'

In [17]:
probability(36, 7)

'19.4%'

In [18]:
import pandas as pd

In [21]:
df = pd.DataFrame({'Genre': ['C','A','C','A','A','C','C','A'],
                   'Fun': ['Y','N','Y','Y','N','Y','N','Y']})

In [22]:
df

  Genre Fun
0     C   Y
1     A   N
2     C   Y
3     A   Y
4     A   N
5     C   Y
6     C   N
7     A   Y

In [23]:
df.groupby('Fun').size().div(len(df))

Fun
N    0.375
Y    0.625
dtype: float64

In [24]:
df.groupby('Genre').size().div(len(df))

Genre
A    0.5
C    0.5
dtype: float64

In [25]:
probGenre = df.groupby('Genre').size().div(len(df))

In [26]:
df.groupby(['Genre','Fun']).size()

Genre  Fun
A      N      2
       Y      2
C      N      1
       Y      3
dtype: int64

In [27]:
df.groupby(['Genre', 'Fun']).size().div(len(df))

Genre  Fun
A      N      0.250
       Y      0.250
C      N      0.125
       Y      0.375
dtype: float64

In [29]:
probFunByGenre = df.groupby(['Genre','Fun']).size().div(len(df))

In [30]:
probFunByGenre.div(probGenre, axis = 0)

Genre  Fun
A      N      0.50
       Y      0.50
C      N      0.25
       Y      0.75
dtype: float64

In [31]:
likelihood = probFunByGenre.div(probGenre, axis = 0)

In [32]:
probGenre[0]

0.5

In [33]:
probGenre[1]

0.5

In [34]:
likelihood[1]

0.5

In [35]:
likelihood[3]

0.75

In [38]:
# '재미있는'이 쓰인 영화평이 액션 영화일 사후확률
probGenre[0] * likelihood[1]

0.25

In [39]:
# '재미있는'이 쓰인 영화평이 코미디 영화일 사후확률
probGenre[1] * likelihood[3]

0.375